# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/local.properties
android/app/upload-key.jks
android/key.properties
**/gradle-wrapper.jar
key.properties
*.jks
*.keystore

# OS
.DS_Store
